body{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: #333138;
	align-items: center;
	color: white;
	padding: 20px;
	
}
h1{
	text-align: center;
	color: #FF312E;
	font-size: 50px;
	word-break: break-all;
}
pre{
	font-family: Arial, Helvetica, sans-serif;
}

 /* NAVBAR */
 #navbar {
	overflow: hidden;
	background-color: #000103;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 100%;
  }
  
  /* Style the navigation bar links */
  #navbar a {
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 30px;
	text-decoration: none;
  }
  
  
  /* Right-aligned link */
  #navbar a.right {
	float: right;
  }
  
  /* Change color on hover */
  #navbar a:hover {
	background-color: #23B5D3;
	color: #101D42;
  }
  
  /* Active/current link */
  #navbar a.active {
	background-color: #FFFFFA;
	color: white;
  }

  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
	padding-top: 60px;
  }
 
 /* Three image containers (use 25% for four, and 50% for two, etc) */
 .column {
	 align-items: center;
	float: left;
	width: 33.33%;
	padding: 5px;
	flex: 33.33%;
  }
  
  /* Clear floats after image containers */
  .row::after {
	  text-align: center;
	  align-items: center;
	content: "";
	clear: both;
	display:flex;
  } 
